/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

/* General styles */
body {
    /* body minimum height of 100% of the viewport height. */
    min-height: 100vh; /* vh = viewport height */
    /* ensures elements still show underneath each other */
    display: flex; /* Flexbox container */
    flex-direction: column;  /* Flexbox direction */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: white; /* Background color of the header */
    padding: 0 1rem; /* This will add padding to the left and right of the header */
    position: fixed; /* Fixed position to keep the header at the top of the viewport */
    z-index: 99;     /* Ensures the header is on top of other elements */
    width: 100%;     /* Full width of the viewport, required as we set position: fixed */
    box-shadow: 0 2px 2px #3a3a3a; /* Adds a shadow to the header to to indicate that it's layered on top of the other content.*/
    display: flex;   /* To get the checkbox with a label to show in the top right corner on the same lines as the logo */
    justify-content: space-between;
    align-items: baseline;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; /* shorthand for flex-grow, flex-shrink, flex-basis */
    margin-top: 47px; /* Push the main content down to avoid it being hidden by the header */
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; /* Adds space between letters */
    color: #252525;
}

header a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the color from the parent element */
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none; /* Removes the bullet points from the list */ 
}

#menu > li {
    margin-bottom: 1rem; /* Adds margin to the bottom of each list item */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute; /* Takes an element outside the normal flow of the page structure. It is positioned relative to the nearest positioned ancestor in our case, the header. */
    background-color: white;
    width: 100%;
    left: 0; /* push the nav element to the left of the screen */
    padding: 0 1rem; /* Add some padding so the nav items line up nicely below "Love Running".*/
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Hide the nav element by default */
    top: 100%; /* Push the nav element below the header */
}

#nav-toggle {
    display: none; /* Hide the checkbox */
}

/* Show the nav element when the checkbox is checked */
#nav-toggle:checked ~ nav { 
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}  

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative; /* Reset the position to relative so that the nav items are displayed */
        box-shadow: none;   /* Remove the shadow */
        width: fit-content; /* Make the nav element only as wide as the content allowing our flex styles from earlier to push it nicely to the right.*/
        padding-right: 1rem; /* so our menu items will not stick to the edge of the screen */
    }

    #menu {
        display: flex; /* Display the menu items in a row */
    }

    #menu > li {
        padding-left: 1rem; /* Add padding to the left of each list item */
    }
 
    .nav-toggle-label {
        display: none; /* Hide the checkbox label */
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
}

/* Media query: small laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover { /* Hover effect for the menu items */
        border-bottom: 1px solid #3a3a3a;
    }   
}