/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

/* General styles */
body {
    /* body minimum height of 100% of the viewport height. */
    min-height: 100vh; /* vh = viewport height */
    /* ensures elements still show underneath each other */
    display: flex; /* Flexbox container */
    flex-direction: column;  /* Flexbox direction */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: white; /* Background color of the header */
    padding: 0 1rem; /* This will add padding to the left and right of the header */
    position: fixed; /* Fixed position to keep the header at the top of the viewport */
    z-index: 99;     /* Ensures the header is on top of other elements */
    width: 100%;     /* Full width of the viewport, required as we set position: fixed */
    box-shadow: 0 2px 2px #3a3a3a; /* Adds a shadow to the header to to indicate that it's layered on top of the other content.*/
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; /* shorthand for flex-grow, flex-shrink, flex-basis */
}

/* Footer */
footer {
    background-color: orange;
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; /* Adds space between letters */
    color: #252525;
}

header a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the color from the parent element */
    
}