/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* Ensures that when we set the height or width to an element, it will be applied to the entire element, including the border. */
}

/* General styles */
body {
    /* body minimum height of 100% of the viewport height. */
    min-height: 100vh; /* vh = viewport height */
    /* ensures elements still show underneath each other */
    display: flex; /* Flexbox container */
    flex-direction: column;  /* Flexbox direction */
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px; /* Adds space between letters */
    color: #252525;
}

.hidden-header {
    display: none;
}

/* Header */
header {
    background-color: white; /* Background color of the header */
    padding: 0 1rem; /* This will add padding to the left and right of the header */
    position: fixed; /* Fixed position to keep the header at the top of the viewport */
    z-index: 99;     /* Ensures the header is on top of other elements */
    width: 100%;     /* Full width of the viewport, required as we set position: fixed */
    box-shadow: 0 2px 2px #3a3a3a; /* Adds a shadow to the header to to indicate that it's layered on top of the other content.*/
    display: flex;   /* To get the checkbox with a label to show in the top right corner on the same lines as the logo */
    justify-content: space-between;
    align-items: baseline;
}

/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto; /* shorthand for flex-grow, flex-shrink, flex-basis */
    margin-top: 47px; /* Push the main content down to avoid it being hidden by the header */
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.webp") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 109, 107, .7);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    min-height: 200px;
    padding-top: 40px;
    padding-left: 10px;
}

#cover-text > h2, #cover-text > h3 {
    color: #ffffff;
}

header a {
    text-decoration: none; /* Removes underline from links */
    color: inherit; /* Inherits the color from the parent element */
}

#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none; /* Removes the bullet points from the list */ 
}

#menu > li {
    margin-bottom: 1rem; /* Adds margin to the bottom of each list item */
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute; /* Takes an element outside the normal flow of the page structure. It is positioned relative to the nearest positioned ancestor in our case, the header. */
    background-color: white;
    width: 100%;
    left: 0; /* push the nav element to the left of the screen */
    padding: 0 1rem; /* Add some padding so the nav items line up nicely below "Love Running".*/
    box-shadow: 0 2px 2px #3a3a3a;
    display: none; /* Hide the nav element by default */
    top: 100%; /* Push the nav element below the header */
}

#nav-toggle {
    display: none; /* Hide the checkbox */
}

/* Show the nav element when the checkbox is checked */
#nav-toggle:checked ~ nav { 
    display: block;
}

.nav-toggle-label {
    font-size: 2rem;
}  

#reasons {
    width: 90%;
    margin: 20px auto;
}

#reasons h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 280%;
}

#benefits-physical > div, #benefits-mental > div {
    line-height: 20px;
    margin-bottom: 20px;
}

#benefits p {
    padding: 0 20px;
}

hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle-cover-bg {
    background: url('../images/reasons-image.webp') no-repeat top center / cover;
    width: 90vw;
    height: 90vw;
    margin-bottom: 20px;
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#times {
    background: url('../images/dublin-city.webp') no-repeat center center / cover;
    /* Use Flexbox properties to make the divs with our run times wrap. */
    display: flex;
    flex-wrap: wrap;
}

#times > div {
    color: #fafafa;
    background-color:rgb(0, 0, 0, 0.6); /* acts as an overlay to improve the contrast between the background image and the text. */
    padding: 15px;
    text-align: center;
    /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row */
    flex-basis: 200px;
    flex-grow: 1;
    /* Creates a grid of meetup time divs over the background image */
    border: 2px solid white;    
}

#times h3 {
    color: #fafafa;
}

/* Gallery section */
#photos {
    line-height: 0; /* Removes the space between the images */
}

#photos img {
    width: 100%;
    line-height: 1em; /* Reset the line height to the default value for the alt-text */
}    

/* Signup section */
#signup {
    background-image: url('../images/signup-image.webp');
    background-size: cover; /* Resize the background image to cover the entire section */
    background-position: 75%; /* Position the background image 75% from the left */
    padding: 20px 10% 0 10%; /* Add padding to the top and sides of the section */
    flex-grow: 1; /* Make the signup section take up any surplus space */
}

#signup-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form h2 {
    color: #fafafa;
}

.text-input {
    /* transparent background to show the background image */
    background-color: transparent;
    border: 1px solid #fafafafa;
    border-radius: 2px;
}

.radio-buttons {
    display: flex;
    justify-content: space-between;
}

.join-button {
    background-color: #454b1b;
    color: #fafafa;
    font-size: 100%;
    border-radius: 2px;
    margin-top: 20px;
    padding: 15px 32px;
}

/* Footer styles */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    nav {
        display: block;
        position: relative; /* Reset the position to relative so that the nav items are displayed */
        box-shadow: none;   /* Remove the shadow */
        width: fit-content; /* Make the nav element only as wide as the content allowing our flex styles from earlier to push it nicely to the right.*/
        padding-right: 1rem; /* so our menu items will not stick to the edge of the screen */
    }

    #menu {
        display: flex; /* Display the menu items in a row */
    }

    #menu > li {
        padding-left: 1rem; /* Add padding to the left of each list item */
    }
 
    .nav-toggle-label {
        display: none; /* Hide the checkbox label */
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }

    #cover-text {
        width: 300px;
        right: 50px;
    }

    #benefits-physical, #benefits-mental {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits-physical > div, #benefits-mental > div {
        width: 75%;
    }

    #benefits-mental>div {
        text-align: end;
        align-self: flex-end;
    }

    #photos {
        column-count: 3;
    }

    /* Form styles */
    #signup {
        background-position: center; /* Center the background image */
        position: relative; /* Position the form relative to the signup section */
    } 

    #signup-form {
        position: absolute; /* Position the form absolutely */
        top: 150px; /* Position the form 150px from the top */
        left: 10%;  /* Position the form 10% from the left */
        max-width: 400px; /* Set the maximum width of the form */   
    }

    .text-input:hover {
        border-color: #f16c6b;
    }
    
    .join-button:hover {
        background-color: #fafafa;
        color: #454b1b;
    }
}

/* Media query: small laptops and desktops (992px and up) */
@media screen and (min-width: 992px) {
    #menu a:hover { /* Hover effect for the menu items */
        border-bottom: 1px solid #3a3a3a;
    }   

    #photos {
        column-count: 4;
    }
}

/* Media query: 1200px and up */
@media screen and (min-width: 1200px) {
    /* Reasons section */
    /* center benefits-image between benefits-physical and benefits-mental */
    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits > div {
        flex: 1;
    }

    #benefits-image {
        order: 0
    }

    #benefits-mental {
        order: 1;
    }

    #benefits-mental > div {
        align-self: flex-start;
    }

    #benefits-physical > div {
        align-self: flex-end;
    }
}